@charset "UTF-8";



@media screen and (min-width: 768px) and (max-width: 1365px){  /* Configuração para tablet */
    body {
        background-image: linear-gradient(to top, #ff8800, #69279c);
    }

    #login {
        width: 80vw;
        height: 320px;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #formulario {
        float: right;
        width: 70%;
    }

    #formulario > p {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1365px){ /* configuração para desktop */
    body {
        background: linear-gradient(to bottom, #69279c, #ff880067, #ff8800, #ffee00);
        background-size: 300% 300%;
        animation: fundo-animado 5s infinite alternate ease-in-out;
    }

    #login {
        width: 990px;
        height: 365px;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario {
        width: 50%;
    }

    #formulario > p {
        font-size: 1.3em;
        margin-bottom: 40px;
    }

    form > input[type=submit] {
        margin-top: 40px;
    }

    @keyframes fundo-animado {
        100% {
            background-position: 100% 100%;
        }
    }
}