@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/*
    Azul: #2317FA
    Roxo: #69279c
    Laranja: #ff8800
*/

* {
    font-family: 'Inter', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #69279c;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: white;
    width: 295px;
    height: 510px;
    border-radius: 10px;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.425);
    overflow: hidden;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

#imagem {
    background: #69279c url(../imagens/fundo-folhas.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    display: block;
}

#formulario {
    padding: 10px;
    display: block;
}

#formulario > h1 {
    margin-bottom: 10px;
}

#formulario > p {
    margin-bottom: 15px;
}

div.campo {
    background-color: #69279c;
    border-radius: 8px;
    height: 40px;
    margin: 5px 0px;
    border: 2px solid #69279c;
}

div.campo > label > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 2px;
}

div.campo > input {
    font-size: 1em;
    height: 100%;
    width: calc(100% - 44.5px);
    border: none;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-10px);
}

form > input[type=submit] {
    background-color: #ffae00;
    color: white;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 18px;
    border: 1px solid #ffae00;
    transition: .2s;
    cursor: pointer;
    font-size: 1em;
    margin-top: 15px;
}

form > input[type=submit]:hover {
    background-color: #dd9700;
    border-color: #dd9700;
}

form > a.botao {
    display: block;
    width: 100%;
    border: 1px solid #ffae00;
    text-align: center;
    padding: 8px;
    border-radius: 18px;
    margin: 10px 0px 8px 0px;
    text-decoration: none;
    color: #ffae00;
    transition: 0.2s;
}

form > a.botao:hover {
    background-color: #ffc750;
    border-color: #ffc750;
    color: white;
}